In [4]:
import pandas as pd
import citipy

In [5]:
suicidedata_df = pd.read_csv("master.csv")
suicidedata_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [6]:
cleaned_suicidedata = suicidedata_df.drop(columns = ["country-year", "HDI for year"])

In [29]:
cleaned_suicidedata.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers

In [35]:
renamed_suicidedata_df = cleaned_suicidedata.rename(columns = {' gdp_for_year ($) ':'gdp_for_year',
                                                               'gdp_per_capita ($)':'gdp_per_capita', 
                                                               'suicides/100k pop':'suicidesper100pop'})

In [36]:
renamed_suicidedata_df.astype('str')

,country,year,sex,age,suicides_no,population,suicidesper100pop,gdp_for_year,gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,"63,067,077,179",2309,Boomers

In [37]:
renamed_suicidedata_df.replace(',','', regex=True, inplace=True)

In [38]:
renamed_suicidedata_df.head()

,country,year,sex,age,suicides_no,population,suicidesper100pop,gdp_for_year,gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,2156624900,796,Boomers

In [41]:
renamed_suicidedata_df.to_csv("cleaned_suicidedata.csv", index=True)

In [44]:
from sqlalchemy import create_engine

In [45]:
password ="prasu@123"
rds_connection_string = f"postgres:{password}@localhost:5432/suicideDB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [47]:
renamed_suicidedata_df.to_sql('suicide_data', engine)

In [48]:
engine.table_names()

['suicide_data']

In [49]:
pd.read_sql_query('select * from suicide_data', con=engine).head()

,index,country,year,sex,age,suicides_no,population,suicidesper100pop,gdp_for_year,gdp_per_capita,generation
0,0,Albania,1987,male,15-24 years,21,312900,6.71,2156624900,796,Generation X
1,1,Albania,1987,male,35-54 years,16,308000,5.19,2156624900,796,Silent
2,2,Albania,1987,female,15-24 years,14,289700,4.83,2156624900,796,Generation X
3,3,Albania,1987,male,75+ years,1,21800,4.59,2156624900,796,G.I. Generation
4,4,Albania,1987,male,25-34 years,9,274300,3.28,2156624900,796,Boomers